* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--gradient-main);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
}

.container {
    width: 120rem;
    height: 120rem;
    margin: 4vw auto;
    border-radius: 10px;
    // background: url("https://storage.googleapis.com/dream-machines-output/44af4c7a-f158-4953-986f-c46a6af35568/0_0.png") center center / cover no-repeat fixed;
    background: var(--second-color);
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}

button {
    font-family: inherit;
    cursor: pointer;
    text-transform: uppercase;
}